.text {
    color: #FF8000;
    font-weight: bold;
    text-align: center;
}

.boton {
    border-radius: 10px;
    background: #FF8000;
    display: inline-flex;
    padding: 15px 41px;
    color: white;
    border: none;
    display: block;
    margin-bottom: 10px;
}