.asesoria {
  width: 70%;
}

.help {
  width: 70%;
}

.help>h1 {
  color: #343434;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
}

.help>h1>span {
  color: #FF8000;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 700;
}

.banner {
  background-color: #FFE7CF;
  height: 290px;
  border-radius: 31px;
}

.col>h1 {
  color: #343434;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3%;
}

.col>p {
  color: #343434;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
}

.cont-banner {
  height: 100%;
}

.cont-banner>.footer-left {
  width: 40%;
}

.cont-banner>.footer-right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cont-banner>.footer-right>.texto-footer>h1 {
  color: #FF7F00;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
}

.cont-banner>.footer-right>.texto-footer>p {
  color: #717171;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.footer-left>img{
  height: 90%;
}