.head-kampanee,
.explora-descubre,
.kampanee-negocios,
.descubre-kampanee,
.secc-how,
.cont-inventario {
  height: auto;
  overflow: hidden;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.head,
.head-left,
.head-right {
  height: 100%;
}

.logo-negocios {
  margin-top: 2%;
  margin-bottom: 15%;
}

.img-right-negocios {
  width: 90%;
}

.head-texto-left>h1 {
  color: #343434;
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
  width: 672px;
}

.head-texto-left>p {
  color: #565656;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  width: 648px;
}

.head-texto-left>h1>span {
  color: #FF8000;
  font-weight: 700;
}

.btns-head-kampanee>.btns>button {
  border-radius: 5px;
  background: #FF8000;
  color: #FFF;
  border: none;
  width: 227px;
  height: 60px;
  font-size: 20px;
}

.col-2 {
  width: 12%;
}

.col-1 {
  display: none;
}

.card-explora {
  width: 230px;
  height: 280px;
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 1.04px 8px 0px rgba(94, 94, 94, 0.12);
  padding: 20%;
}

.card-explora>p {
  color: #565656;
  font-family: Poppins;
  font-size: 23.421px;
  font-weight: 300;
  margin-top: 20%;
}

.img-explora {
  width: 130px;
  height: 130px;
}

.texto-explora>h1,
.texto-explora>h2 {
  font-family: Poppins;
  font-size: 40px;
}

.texto-explora>h1 {
  color: #FF8000;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
}

.texto-explora>h2 {
  color: #343434;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
}

.texto-explora>p {
  color: #565656;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 28%;
  padding-right: 28%;
}

.kampanee-negocios {
  background-color: #FFEFDF;
}

.cont-kampanee-negocios {
  height: 100%;
}

.cont-left-negocios {
  padding: 10%;
}

.cont-left-negocios>h1 {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  width: 490px;
}

.cont-left-negocios>h1>span {
  color: #FF8000;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
}

.cont-left-negocios>p {
  color: #565656;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  width: 495px;
}

.logok {
  width: 8%;
}

.col-md-4 {
  width: 25%;
}

.card-area {
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 1.04px 8px 0px rgba(94, 94, 94, 0.12);
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}

.img-area {
  background-color: #FFF4EB;
  border-radius: 50%;
  width: 137px;
  height: 137px;
  padding: 6%;
  margin-bottom: 2%;
}

.card-area>h1 {
  color: #565656;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-area>p {
  color: #565656;
  font-size: 20px;
  font-weight: 400;
}

.secc-areas>h1 {
  color: #343434;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 500;
}

.secc-areas>h1>span {
  color: #FF7F00;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 700;

}

.column-how {
  height: 100%;
}

.text-how,
.text-dropdown {
  width: 100%;
  text-align: left;

}

.text-how>h1 {
  color: #343434;
  font-size: 48px;
  font-weight: 500;
}

.text-how>h1>span {
  color: #FF8000;
  font-size: 48px;
  font-weight: 700;
  font-family: Poppins;
}

.cont-how {
  background-color: white;
  width: 730px;
  cursor: pointer;
  color: #343434;
  font-size: 26px;
  font-weight: 600;
  overflow: hidden;
  height: 80px;
  transition: height 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* Agrega aquí los demás estilos... */
}

.cont-how.open {
  border-radius: 10px;
  background: #FFF7EF;
  height: 230px;
  /* o el valor necesario para mostrar tu contenido */
  color: #FF7F00;
  transform: translateY(0);
  /* Desplazamiento hacia abajo al abrir */
}

.cont-how.open>p {
  color: #565656;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Agrega el siguiente estilo si deseas un desplazamiento hacia arriba al cerrar */
.cont-how.closing {
  transform: translateY(-100%);
}

.how-img {
  width: 85%;
}

.inventario-left {
  padding: 8%;
}

.inventario-left>h1 {
  color: #343434;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
}

.inventario-left>h1>span {
  color: #FF8000;
  font-family: Poppins;
  font-weight: 600;
}

.inventario-left>p {
  color: #565656;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

.btns-head-kampanee-responsive {
  display: none;
}

.btns-head-kampanee>button {
  display: none;
}

.img-kampanee-negocios>img {
  width: 50%;
  margin-bottom: 5%;
}

#escritorio {
  display: block;
  background-color: #FF7F00;
  color: #FFF;
  border-radius: 5px;
  border: none;
  width: 230px;
  height: 60px;
  font-size: 20px;
}

.btns-head-responsive>button {
  display: block;
  background-color: #FF7F00;
  color: #FFF;
  border-radius: 5px;
  border: none;
  width: 230px;
  height: 60px;
  font-size: 20px;
  display: none;
}

@media (max-width:1024px) {
  .head-texto-left>h1 {
    font-size: 40px;
    width: 485px;
  }

  .head-texto-left>p {
    width: 448px;
    font-size: 13px;
  }

  .btns-head-kampanee>button {
    width: 155px;
    height: 40px;
    font-size: 16px;
  }

  .btns-head-kampanee>img {
    width: 155px;
    height: 40px;
  }

  .texto-explora>h1,
  .texto-explora>h2 {
    font-size: 40px;
  }

  .texto-explora>p {
    font-size: 14px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .card-explora {
    width: 143px;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
  }

  .card-explora>p {
    margin-top: 25%;
    font-size: 14px;
    font-weight: 300;
  }

  .col-2 {
    width: 15%;
  }

  .img-explora {
    width: 65px;
    height: 65px;
  }

  .kampanee-negocios {
    height: auto;
  }

  .cont-left-negocios>img {
    width: 70%;
  }

  .cont-left-negocios>h1,
  .cont-left-negocios>h1>span {
    font-size: 40px;
    width: 358px
  }

  .cont-left-negocios>p {
    font-size: 14px;
    width: 316px;
  }

  .cont-right-negocios>img {
    width: 550px;
  }

  .secc-areas>h1,
  .secc-areas>h1>span {
    font-size: 40px;
  }

  .col-md-4 {
    width: 30%;
  }

  .img-area {
    width: 40%;
    height: 25%;
  }

  .card-area>h1 {
    font-size: 15px;
  }

  .card-area>p {
    font-size: 13px;
  }

  .text-how>h1,
  .text-how>h1>span {
    font-size: 40px;
    text-align: center;
  }

  .cont-how>h2 {
    font-size: 15px;
    font-weight: 700;
    font-family: Poppins;
  }

  .cont-how {
    height: 50px;
  }

  .cont-how.open {
    width: 456px;
    height: 126px;
  }

  .cont-how.open>p {
    font-size: 13px;
  }

  .inventario-left {
    padding: 10% 0% 0% 5%;
  }

  .inventario-left>h1 {
    font-size: 40px;
  }

  .inventario-left>p {
    font-size: 14px;
  }

  .inventario-right {
    width: 100%;
    margin-top: 35%;
  }

  .cont-inventario {
    height: auto;
  }

  #escritorio {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }

  .btns>img {
    width: 160px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .btns-head-responsive>button {
    display: block;
    width: 155px;
    height: 40px;
    font-size: 15px;
  }

  .logo-negocios {
    width: 20%;
  }

  .img-head {
    display: flex;
    justify-content: start;
    margin-bottom: 2%;

  }

  .escritorio {
    display: none;
  }


  #responsive>img {
    display: block;
  }

  .head {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .head-texto-left>h1,
  .head-texto-left>p {
    text-align: center;
    width: 100%;
  }

  .head-texto-left>h1,
  .texto-explora>h1,
  .texto-explora>h2 {
    font-size: 30px;
    font-weight: 600;
    padding: 0% 20% 0% 20%;
  }

  .head-texto-left>p {
    font-size: 14px;
    padding: 0% 12% 0% 12%;
  }

  .btns-head-kampanee {
    display: none;
  }

  .head-left {
    width: 100%;
  }

  .head-right-kampanee {
    width: 100%;
  }

  .btns-head-kampanee {
    display: none;
  }

  .head-left {
    height: 50%;
  }

  .img-right-negocios {
    width: 70%;
  }

  .head-right-kampanee {
    display: flex;
    flex-direction: column;
  }



  .btns-head-kampanee-responsive>img {
    width: 155px;
    height: 40px;
  }

  .btns-head-kampanee-responsive {
    margin-bottom: 5%;
  }

  .explora-descubre {
    padding-top: 15%;
    height: auto;
  }


  .card-explora {
    width: 138px;
    height: 170px;
  }

  .col-2 {
    width: 17%;
  }

  .cont-left-negocios {
    padding: 7%;
  }

  .cont-right-negocios>img {
    width: 100%;
  }

  .kampanee-negocios {
    height: auto;
  }

  .btns-head-kampanee-responsive {
    display: block;
    display: flex;
    justify-content: center;
  }

  .btns-head-kampanee-responsive>.btns>button {
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 5px;
    background: #FF8000;
    width: 155px;
    height: 40px;
  }

  .btns-head-kampanee-responsive>.btns>img {
    width: 155px;
    height: 40px;
  }

  .cont-kampanee-negocios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .cont-left-negocios {
    width: 100%;
    height: 30%;
  }

  .cont-left-negocios>h1,
  .cont-left-negocios>p {
    width: 100%;
    text-align: center;
    margin-top: 5%;
  }

  .img-kampanee-negocios>img {
    margin-top: 6%;
    width: 30%;
  }

  .cont-right-negocios {
    height: 60%;
    display: flex;
    flex-direction: column;
  }

  .img-kampanee-negocios {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cont-right-negocios {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    height: 64%;
  }

  .cont-right-negocios>img {
    width: 85%;
  }

  .descubre-kampanee {
    height: 1150px;
  }

  .column-descubre {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cards-descubre {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }

  .card-area>h1 {
    width: 100%;
    text-align: center;
  }

  .card-area>p {
    font-size: 14px;
  }

  .card-area {
    width: 284px;
    height: 243px;
    padding: 9%;
    text-align: left;
  }

  .secc-areas>h1,
  .secc-areas>h1>span {
    font-size: 30px;
  }

  .img-area {
    width: 40%;
    height: 60%;
  }


  .col-md-6.how-left {
    order: 2;
    /* Cambia el orden en dispositivos de 768px o mayores */
  }

  .col-md-6.how-right {
    order: 1;
    /* Cambia el orden en dispositivos de 768px o mayores */
  }

  .cont-how {
    width: 594px;
  }

  .how-left {
    height: 25%;
  }

  .text-dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-how>h1,
  .text-how>h1>span {
    font-size: 30px;
  }

  .cont-how.open {
    width: 594px;
    height: 100px;
  }

  .how-img {
    width: 70%;
  }

  .how-left {
    width: 100%;
  }

  .how-right {
    width: 100%;
  }

  .btns-head-kampanee>button {
    background-color: #FF7F00;
    color: #FFF;
    border-radius: 5px;
    border: none;
  }

  #escritorio {
    display: none;
  }

  .column-inventario {
    display: flex;
    flex-direction: column;
  }

  .secc-inventario-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inventario-left {
    width: 100%;
  }

  .secc-inventario-right {
    width: 100%;
  }

  .inventario-left>h1 {
    font-size: 30px;
    text-align: center;
    padding: 0% 20% 0% 20%;
  }

  .inventario-left>p {
    padding: 0% 6% 0% 6%;
  }

  .inventario-right {
    width: 60%;
    margin: 1%;
  }
}

@media (max-width: 390px) {

  .head-texto-left>h1,
  .texto-explora>h1,
  .head-texto-left>h1,
  .texto-explora>h1,
  .texto-explora>h2 {
    padding: 0% 10% 0% 10%;
    font-size: 20px;
  }

  .head-texto-left>p {
    font-size: 12px;
    padding: 0%;
  }

  .img-right-negocios {
    width: 100%;
  }

  .btns-head-kampanee-responsive>.btns>button {
    font-size: 11px;
    width: 140px;
    height: 40px;
  }

  .btns-head-kampanee-responsive>.btns>img {
    width: 140px;
    height: 40px;
  }

  .logo-negocios {
    width: 30%;
  }

  .explora-descubre {
    height: auto;
    padding-bottom: 2%;
    margin-bottom: 10%;
  }


  .texto-explora>p {
    padding-left: 13%;
    padding-right: 13%;
    font-size: 12px;
  }

  .cont-right-negocios {
    height: 45%;
  }

  .card-responsives {
    width: 40%;
  }

  .text-how>h1,
  .text-how>h1>span {
    width: 100%;
    padding: 0%;
    font-size: 20px;
  }

  .cont-how {
    width: 330px;
  }
  .cont-how.open{
    width: 330px;
    height: 130px;
  }
  .cont-how.open>p {
    font-size: 12px;
  }
  .inventario-left>h1 {
    padding: 0%;
  }
  .inventario-left>h1 {
    font-size: 20px;
    padding: 0% 15% 0% 15%;
  }
  .inventario-left>p{
    padding: 0% 12% ;
    text-align: center;
  }
  .inventario-left {
    padding: 0%;
  }
  .inventario-right {
    margin: 3%;
  }

}