.head-kampanee,
.explora-descubre,
.kampanee-negocios,
.descubre-kampanee {
    height: 95vh;
    overflow: hidden;
}

.head,
.head-left,
.head-right {
    height: 100%;
}

.logo-negocios {
    margin-top: 2%;
    margin-bottom: 15%;
}

.img-right-negocios {
    width: 90%;
}

.head-texto-left>h1 {
    color: #343434;
    font-family: Poppins;
    font-size: 55px;
    font-weight: 600;
    width: 672px;
}

.head-texto-left>p {
    color: #565656;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    width: 648px;
}

.head-texto-left>h1>span {
    color: #FF8000;
    font-weight: 700;
}

.btns-head-kampanee>button {
    border-radius: 5px;
    background: #FF8000;
    color: #FFF;
    border: none;
    width: 227px;
    height: 60px;
    font-size: 20px;
}

.col-2 {
    width: 12%;
}

.col-1 {
    display: none;
}

.card-explora {
    width: 230px;
    height: 280px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 1.04px 8px 0px rgba(94, 94, 94, 0.12);
}

.img-explora {
    width: 130px;
    height: 130px;
}

.texto-explora>h1,
.texto-explora>h2 {
    font-family: Poppins;
    font-size: 40px;
}

.texto-explora>h1 {
    color: #FF8000;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
}

.texto-explora>h2 {
    color: #343434;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
}

.texto-explora>p {
    color: #565656;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 28%;
    padding-right: 28%;
}

.kampanee-negocios {
    background-color: #FFEFDF;
}

.cont-kampanee-negocios {
    height: 100%;
}

.cont-left-negocios {
    padding: 7%;
}

.cont-left-negocios>h1 {
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    width: 490px;
}

.cont-left-negocios>h1>span {
    color: #FF8000;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
}

.cont-left-negocios>p {
    color: #565656;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    width: 495px;
}

.logok {
    width: 8%;
}

.col-md-4 {
    width: 28%;
}

.card-area {
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 1.04px 8px 0px rgba(94, 94, 94, 0.12);
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area {
    background-color: #FFF4EB;
    border-radius: 50%;
    width: 137px;
    height: 137px;
    padding: 6%;
    margin-bottom: 2%;
}

.card-area>h1 {
    color: #565656;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-area>p {
    color: #565656;
    font-size: 20px;
    font-weight: 400;
}

.secc-areas>h1 {
    color: #343434;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 500;
}

.secc-areas>h1>span {
    color: #FF7F00;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 700;

}