@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.column-head-usuario {
  margin-bottom: 3%;
}

.head-left-usuario {
  padding: 5%;
}

.head-right-usuario {
  padding-top: 5%;
}

.texto-head-usuario>h1 {
  color: #343434;
  font-size: 55px;
  font-weight: 500;
  width: 590px;
  margin-top: 20%;
}

.texto-head-usuario>p {
  color: #565656;
  font-size: 18px;
  font-weight: 400;
  width: 580px;
}

.column-find {
  padding: 5%;
}

.head-right-usuario>img {
  width: 100%;
}

.card-find {
  width: 320px;
  height: 370px;
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 1.04px 8px 0px rgba(94, 94, 94, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-card {
  width: 689px;
  height: 259px;
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 1.04px 8px 0px rgba(94, 94, 94, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-card>p {
  color: #565656;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins;
  width: 237px;
  ;
}

.cont-img {
  background-color: #FFF4EB;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.img-card {
  width: 70px;
  height: 70px;
}

.card-find>p {
  color: #565656;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins;
  padding: 10% 10% 0% 10%;
}

.find-left>h1 {
  color: #343434;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 500;
}

.find-left>h1>span {
  color: #FF8000;
  font-weight: 700;
}

.find-right>img{
  width: 100%;
}

.cont-proovedores {
  background-color: #FFEFDF;
}

.column-proovedores {
  padding-top: 3%;
  padding-bottom: 3%;
}

.proovedores-left>img {
  width: 100%;
  padding-top: 8%;
}

.proovedores-right {
  padding: 10% 0% 10% 5%;
}

.proovedores-right>img{
  padding-bottom: 5%;
}

.proovedores-right>h1 {
  color: #343434;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0% 10% 0% 0%;
}

.proovedores-right>h1>span {
  color: #FF8000;
  font-weight: 700;
}

.proovedores-right>p {
  color: #565656;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0% 25% 0% 0%;
}